/**
 * crnbrdrck theme for reveal.js
 * Author: crnbrdrck
 */

 // Include theme-specific fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,400italic,700italic");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic");

// Default mixins and settings -----------------
@import "./settings";
// ---------------------------------------------

.reveal pre code {
  font-family: "Ubuntu Mono", sans-serif;
}

.reveal a.btn-flat {
  font: 15px 'Montserrat', sans-serif;
}

.reveal .controls .navigate-left {
  right: 74px;
}

// Theme template ------------------------------
@import "./base-theme";
// ---------------------------------------------

// Override some stuff in the base theme
.reveal .progress span {
  background: linear-gradient(to right, #0046cc, #ff206e);
}
